hr{

      background-color:white;
      height:0px;
      width:3%;
      border-style: none;
      border-top-style:dotted;
      border-color: grey;
      border-width:5px;
}
h1{
  color:#66bfbf;
}
h3{
  color:#66bfbf;
}
